body{
    background-color: rgb(208, 229, 255);
    font-family: 'Times New Roman', Times, serif;
}

.box {
    background-color: lightgray;
    border: 2px solid black;

}

.header {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 200);
    color: white

}

.header h1 {
    margin: 0px;

}

.header a {
    color: white

}

.content {
    margin-right: 7.25cm;

}

.content p {
    text-indent: 2em;

}

/* Classes section */

.classes {
    margin-left: 1cm;

}

.classes h4 {
    margin-bottom: 0px;
}

.classes p {
    margin-top: 5px;

}



.enemyTypes img{
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1in;
    margin-top: -16px;
    margin-left: -1.5in;

}

.enemyTypes ol{
    margin-left: 1.1in;

}

/* Navigation panel */

.navigation {
    background-color: rgb(144, 194, 255);
    border: 2px solid black;
    width: fit-content;
    position: fixed;
    right: 1.75cm;

    padding: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.navigation a {
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}

.navigation h3 {
    margin-bottom: 5px ;
    margin-left: 5px;
    margin-top: 5px;

}

button {
    display:flex;
    flex-direction: column;
    width: fit-content;
    padding: 6px;
    margin: 10px;
    margin-top: 20px;
    z-index: 1;

}



ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}



/* 
----- CODE GRAVEYARD ----- 

* Game menu stuff
 .menu {
    max-width: 900px;
    min-height: 475px;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 1;
 }
 .menu h2 {
    margin: 10px;
 } 

 .choices {
    display:flex;
    flex-direction: column;

    gap: 16px;
    margin-top: 24px;
 } 

*/